h2,
h3 {
  font-family: "Lato";
}

label:text-muted,
.nav-link {
  font-family: "Lato";
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-background) !important;
}

.container a:hover {
  text-decoration: none;
}

.jumbotron {
  font-family: "Lato", sans-serif;
  background-color: rgba(236, 241, 246, 1);
}

.btn-group {
  background-color: white;
}

.btn {
  background-color: white;
}

#main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.header {
  font: "Montserrat";
}

.pp-card {
  font-family: "Exo";
  margin-bottom: 1em;
  display: block;
  overflow: hidden;
}

.pp-card-header {
  font-family: "Exo";
  height: 340px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.pp-mode-list .pp-card-header {
  height: 175px;
}

.pp-card-footer {
  position: absolute;
  width: 100%;
  bottom: 3px;
}

.pp-mode-list .pp-card-header .card-title {
  font-size: 17px;
}

.cards_img {
  margin-top: 20px;
  border-radius: 2px;
  max-height: 130px;
  object-fit: scale-down;
}

body .nav-pills .nav-link.active {
  background-color: #bed972;
}

.container {
  margin-top: 10px;
}

.card {
  font-family: "Exo";
}

.card-header {
  font-family: "Exo";
  background-color: var(--color-white) !important;
}

.card-header .card-title {
  font-family: "Exo";
}

.cards.myCard {
  display: flex;
  flex-flow: wrap;
  margin-left: 0;
  box-sizing: border-box;
}

.cards {
  margin-top: 10px;
}

.card-title {
  margin-top: 10px;
  font-size: 20px;
}

h2.card-title {
  margin-top: 10px;
  font-size: 30px;
}

h3.card-subtitle.text-muted {
  margin-top: 10px;
  font-size: 20px;
}

.card-subtitle.text-muted {
  text-align: center;
  font-size: 13px;
}

.main-title {
  font-weight: 700;
  font-family: "Exo";
}

.myAccordion {
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 18px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.sponsorLogo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.slp iframe {
  background: #fff;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* .carousel-inner .carousel-item-right.active, */

/* .carousel-inner .carousel-item-next { */

/*   transform: translateX(25%); */

/* } */

/* .carousel-inner .carousel-item-left.active, */

/* .carousel-inner .carousel-item-prev { */

/*   transform: translateX(-25%); */

/* } */

/* .carousel-inner .carousel-item-right, */

/* .carousel-inner .carousel-item-left{ */

/*   transform: translateX(0); */

/* } */

.carousel-control-prev-icon {
  filter: invert(1);
  transform: translateX(-200%);
}

div.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.carousel-control-next-icon {
  filter: invert(1);
  transform: translateX(200%);
}

.border {
  background: #fff;
  padding: 10px;
  border: 4px solid #eee;
  box-shadow: rgb(204, 204, 204) 2px 2px 14px 0;
}

tr.fc-list-item {
  cursor: pointer;
}

.details {
  font-family: "Lato", sans-serif;
}

#abstractExample.collapse:not(.show) {
  display: block;

  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

#abstractExample.collapsing {
  height: 4.5em;
}

#absShow.collapsed::after {
  content: "+ Show More";
}

#absShow:not(.collapsed)::after {
  content: "- Show Less";
}

body .carousel-control-next,
body .carousel-control-prev {
  width: 5%;
}

.icon_video,
.icon_cal {
  fill: #6c757d;
}

.icon_video:hover,
.icon_cal:hover {
  fill: #000;
}

.checkbox-paper {
  opacity: 0.2;
  color: gray;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
}

.checkbox-paper.selected {
  opacity: 1;
  color: green;
}

@supports (-webkit-text-stroke: 1px gray) {
  .checkbox-paper {
    opacity: 0.2;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: white;
  }

  .checkbox-paper.selected {
    opacity: 1;
    -webkit-text-fill-color: green;
  }
}


/* speakers cards */
.speakers .card,
.pp-card {
  background: none;
  border: none;
}

.speakers .card-header,
.pp-card .card-header{
  background: #ffffff00;
  border: none;
}

@media (min-width: 992px) {
  .speakers .card-header .container-photo {
    border-right: 4px solid var(--color-primary500);
  }
}

.pp-card .card-header {
  border-bottom: 4px solid var(--color-primary500);
}


.speakers .card-header .img-thumbnail,
.pp-card .card-header .img-thumbnail {
  border: none;
}


/* customization */

.py-bg {
  background-color: var(--color-background);
}

.navbar-nav .active > a {
  color: var(--color-secondary400) !important;
}

.footer-logo-pyes {
  margin: 0 3.rem;
  width: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.2rem !important;
}

body a {
  color: var(--color-primary500);
  font-weight: bold;
}

body a:hover {
  color: var(--color-primary700);
  font-weight: bold;
  text-decoration: none;
}


body .py-btn {
  background: var(--color-primary500);
  color: var(--color-white);
  border-color: var(--color-primary500);
  font-weight: bold;
}

body .py-btn:hover {
  background: var(--color-primary700);
  color: var(--color-white);
  border-color: var(--color-primary700);
  font-weight: bold;
}


/* Agenda */

.schedule-warp{
  padding: 20px 30px;
  width: 100%;
}

.day {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

.schedule-card{
  position: relative;
  margin-bottom: 0.7em;
  background-color: var(--color-white);
}

.schedule-card:after {
  height: 2px;
  width: 22px;
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
}

.insidebox {
  box-shadow: 0 0px 5px rgba(0,0,0,.07);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
}

.schedule-tag {
  color:#fff;
  background-color: var(--color-black);
  padding: 3px 8px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: 'Exo';
  text-align: center;
}

@media (min-width: 992px) {
  .insidebox {
    flex-direction: row;
  }
  .schedule-tag {
    flex: 0 0 8rem;
    margin-bottom: 0;
  }
}
.workshop .schedule-tag   { background-color: var(--color-orange700); }
.org .schedule-tag        { background-color: var(--color-grayscale700); }
.talk .schedule-tag       { background-color: var(--color-primary500); }
.community .schedule-tag  { background-color: var(--color-secondary400); }
.lighting .schedule-tag   { background-color: var(--color-red300); }
.assembly  .schedule-tag  { background-color: var(--color-yellow700); }

.schedule-info {
  flex: 1
}

.schedule-actions {
  flex: 0 0 15rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3px 8px;
  margin-left: 15px;
}

.schedule-actions  .btn {
  margin-left: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.schedule-actions .btn svg {
  height: 1rem;
  width: 1rem;
  margin-right: .5rem;
}

.schedule-actions .video > svg {
  fill: #dc3545;
}

.schedule-actions .chat > svg {
  fill: #343a40;
}

.schedule-actions > .btn:hover svg {
  fill: white;
}
