{% set page_title = "Código de Conducta (CoC)}" + " | PyConES 2020" %}
{% set page_description= "Código de Conducta de la PyConES 2020 Pandemoic Edition, de ubligado cumplimiento para todas las personas que asistan al evento." %}
{% set page_image = "https://2020.es.pycon.org/images/speakers/pycones2020_social.png" %}
{% set page_image_alt= "Agenda de PyConES 2020" %}

{% set active_page = "CoC" %}
{% extends "base.html" %}

{% block content %}

{{ components.section("Código de conducta") }}

{{ readme | markdown }}

{% endblock %}
