{% set page_title = community.community + " | Comunidades  | PyConES 2020" %}
{% set page_description = community.about_short %}
{% set page_image = "https://2020.es.pycon.org/" + community.social_image %}
{% set page_image_alt = community.community %}

{% extends "base.html" %}
{% block content %}

<div class="community">
  <!-- Title -->
  <div class="pp-card m-3">
    <div class="card-header row">
      <div class="col-md-2 col-sm-5 my-3">
        <img src="{{community.image}}" width="100%" class="img-thumbnail" />
      </div>
      <div class="col-md-10 col-sm-6">
        <h2 class="card-title main-title text-center">
          {{community.community}}
        </h2>
        {# <!--
        <h3 class="card-subtitle text-muted text-center mt-1">
          {{community.community}}
        </h3>
        <h6 class="font-italic mt-4">
          {{community.about|markdown}}
        </h6>
        --> #}
        <div class="card-text">
          <div class="social-link-list">
              {% if community.meetup %}
              {% for lnk in community.meetup.split(',') %}
              <div class="social-link">
                  <a href="https://www.meetup.com/{{ lnk }}/" target="_blank">
                      <svg class="meetup"><use xlink:href="static/images/sprite.svg#meetup"/></svg>
                      {{ lnk }}
                  </a>
              </div>
              {% endfor %}
              {% endif %}
              {% if community.twitter %}
              {% for lnk in community.twitter.split(',') %}
              <div class="social-link">
                  <a href="https://twitter.com/{{ lnk }}" target="_blank">
                      <svg class="twitter"><use xlink:href="static/images/sprite.svg#twitter"/></svg>
                      @{{ lnk }}
                  </a>
              </div>
              {% endfor %}
              {% endif %}
              {% if community.webs %}
              {% for lnk in community.webs.split(',') %}
              <div class="social-link">
                  <a href="{{ lnk }}" target="_blank">
                      <svg class="link"><use xlink:href="static/images/sprite.svg#link"/></svg>
                      {{ lnk.replace('https://', '').replace('http://', '') }}
                  </a>
              </div>
              {% endfor %}
              {% endif %}
          </div>
      </div>
    </div>
  </div>
  <div id="details" class="pp-card m-3">
    <div class="card-body">
      <div class="card-video-chat">
        <div class="video-wrapper">
          <iframe width="100%" frameborder="0" src="https://www.youtube-nocookie.com/embed/{{ community.video_url }}"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
        <div id="abstractExample">
          {{community.about|markdown}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Presentation Embed -->

{% endblock %}
