{% set page_title = "Preguntas frecuentes (FAQs)" + " | PyConES 2020" %}
{% set page_description= "Listado de preguntas frecuentes sobre el evento PyConES 2020 Pandemic Edition." %}
{% set page_image = "https://2020.es.pycon.org/images/speakers/pycones2020_social.png" %}
{% set page_image_alt= "Agenda de PyConES 2020" %}

{% set active_page = "FAQs" %}
{% extends "base.html" %}

{% block content %}
<div class="py-3 px-3 px-sm-0">
    {{ components.section("Frequently Asked Questions") }}
    {{ components.faqgroup(FAQ) }}
</div>
{% endblock %}
