<script src="static/js/ytdefer.modified.js"></script>

<div class="py-3 px-3 px-sm-0">
    <!-- Speakers -->
    {{ components.section("Agenda") }}

    <div class="container agenda">
        <div class="row justify-content-center">
            <div class="schedule-warp">
                <div class="day">2 de Octubre (Viernes)</div>
                {% for slot in day1 %}
                <div class="schedule-card {{ slot.type }}">
                    <div class="insidebox">
                        <div class="schedule-tag">{{ slot.start }} - {{ slot.end }}h</div>
                        <div class="schedule-info">
                            {% if slot.href %}
                            <a href="{{slot.href}}" class="schedule-info-title">
                              {{slot.title}}
                            </a>
                            {% else %}
                            <div class="schedule-info-title">
                              {{slot.title}}
                            </div>
                            {% endif %}
                            <div  class="schedule-info-speaker">
                              {{ slot.speaker }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center" id="accordion">
            <div class="schedule-warp">
                <div class="day">3 de Octubre (Sábado)</div>
                {% for slot in day2 %}
                <div class="schedule-card {{ slot.type }}" data-start="{{ slot.start }}" data-end="{{ slot.end }}">
                    <div class="insidebox">
                        <div class="schedule-tag">{{ slot.start }} - {{ slot.end }}h</div>
                        <div class="schedule-info">
                            {% if slot.UID %}
                              {% if slot.type in ['community', 'lightning'] %}
                              <a href="community_{{slot.UID}}.html" class="schedule-info-title community">
                                {{slot.title}}
                              </a>
                              {% elif slot.type in ['talk'] %}
                              <a href="speaker_{{slot.UID}}.html" class="schedule-info-title speaker">
                                {{slot.title}}
                                {% if slot.lang == 'en' %}<span class="badge badge-secondary lang">english</span>{% endif %}
                              </a>
                              {% endif %}
                            {% else %}
                            <div class="schedule-info-title">
                              {{slot.title}}
                            </div>
                            {% endif %}
                            <div  class="schedule-info-speaker">
                              {{ slot.speaker }}
                            </div>
                        </div>
                        {% if slot.video_url or slot.show_chat %}
                          <div class="schedule-actions">
                            {% if slot.chat_url %}
                            <a href="{{ slot.chat_url }}" target="_blank"
                               class="btn btn-outline-dark chat">
                                <svg><use xlink:href="static/images/sprite.svg#chat"/></svg>
                                <span>Q & A</span>
                            </a>
                            {% endif %}
                            {% if slot.video_url %}
                              <a class="btn btn-outline-danger video"
                                 href="#video-{{ slot.video_url }}"
                                 aria-controls="video-{{ slot.video_url }}"
                                 role="button" aria-expanded="false"
                                 data-toggle="collapse">
                                <svg><use xlink:href="static/images/sprite.svg#video"/></svg>
                                <span>vídeo +</span>
                            </a>
                            {# Old button with youtube link
                            <a href="https://youtu.be/{{ slot.video_url }}" target="_blank"
                                 class="btn btn-outline-danger video">
                                <svg><use xlink:href="static/images/sprite.svg#video"/></svg>
                                <span>vídeo</span>
                            </a>
                            #}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% if slot.video_url %}
                    {# Old style, very slow
                    <div class="video-box collapse" id="video-{{ slot.video_url }}">
                      <div class="video-wrapper">
                        <iframe width="560" height="315" frameborder="0" src="https://www.youtube-nocookie.com/embed/{{ slot.video_url }}"
                          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                    #}
                    <div class="video-box collapse" id="video-{{ slot.video_url }}" data-parent="#accordion">
                      <div class="ytdefer"
                           data-alt="'{{ slot.title }}' - {{ slot.speaker }}"
                           data-title="'{{ slot.title }}' - {{ slot.speaker }}"
                           data-src="{{ slot.video_url }}"></div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {# <div class="small text-secondary text-center">NOTA: El orden de las ponencias es provisional, pude sufrir cambios.</div> #}
</div>
<script type="text/javascript">
  // For slow load youtube videos
  window.addEventListener('load', ytdefer_setup);

  // Click video button change the button text
  $('.btn.video').click(function() {
    $(this).children("span").text(function(i, old) {
      return old == 'video -' ? 'video +' : 'video -';
    });
  });

  // For the accordion effect
  $('.video-box').on('hidden.bs.collapse', function () {
    var button = $(this.parentElement).find('.btn.video');
    $(button).children("span").text("video +");
  })

  // For apply right-now class
  function updateCurrentSlot() {
    var cHour = new Date().getHours().toLocaleString("es-ES", {timeZone: "Europe/Madrid"})
    var cMinute = new Date().getMinutes().toLocaleString("es-ES", {timeZone: "Europe/Madrid"})
    var current = Date.parse(`01/01/202020 ${cHour}:${cMinute}:00`);

    $(".schedule-card[data-end]").each(function() {
      var [sHour, sMinute] = $(this).attr("data-start").split(":")
      var start = Date.parse(`01/01/202020 ${sHour}:${sMinute}:00`);
      var [eHour, eMinute] = $(this).attr("data-end").split(":")
      var end = Date.parse(`01/01/202020 ${eHour}:${eMinute}:00`);

      if (current >= start && current < end) {
        $(this).addClass("right-now");
      } else {
        $(this).removeClass("right-now");
      }
    });
  }

  updateCurrentSlot();
  setInterval(updateCurrentSlot, 10 * 1000); // 1 second = 1 * 1000
</script>
