{% set page_title = "PyConES 2020: Pandemic Edition" %}
{% set page_description= "Web para la octava edición de la PyConES, que se celebrará como un evento en línea y totalmente gratuito durante los días 2 y 3 de Octubre de 2020. Contará con charlas y talleres donde se hablará del lenguaje Python y su comunidad: core del lenguaje, juegos, machine learning, análisis de datos, web, sysadmins, temas sociales... y mucho más." %}
{% set page_image = "https://2020.es.pycon.org/static/images/speakers/pycones2020_social.png" %}
{% set page_image_alt= "Agenda de PyConES 2020" %}

{% set active_page = "Inicio" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="py-1 px-3 px-sm-0">
    {{ components.section("¡La PyConES 2020 ya casi está aquí!") }}
    {{ about | markdown }}
</div>

{% include 'inc_agenda.html' %}

<div class="py-1 px-3 px-sm-0">
    <!-- Speakers -->
    {{ components.section("Contáctanos") }}
    {{ contact | markdown }}
</div>
{% endblock %}
