{% set page_title = "Taller de Django con PyLadies" + " | PyConES 2020" %}
{% set page_description= "Si eres una mujer y quieres aprender a hacer páginas web, tenemos buenas noticias para ti. ¡Vamos a hacer un taller para principiantes de una tarde de duración! Será el viernes 2 de Octubre de 16:00 a 20:00 a través de la plataforma Discord, durante el primer día de la conferencia nacional sobre Python más importante de España: PyConES, en su edición de 2020" %}
{% set page_image = "https://2020.es.pycon.org/static/images/speakers/pycones2020_social.png" %}
{% set page_image_alt= "Agenda de PyConES 2020" %}

{% set active_page = "Taller PyLadies" %}
{% extends "base.html" %}

{% block content %}

{{ components.section("Taller de Django con PyLadies") }}

{{ readme | markdown }}

{% endblock %}
